@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Fraunces;
    src: url(/fonts/Fraunces_28pt-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: hsl(38, 29%, 89%);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.perfume-root{
    border: solid;
    display: flex;
    margin: 0 auto;
    /* margin-top: 8%; */
    width: 45%;
    max-width: 600px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 13.5px;
    border-bottom-left-radius: 13.5px;
    background-color:white;
}
.content{
    width: 50%;
    padding: 2.5em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.heading-text{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}
.heading-text p{
    display: block;
    font-family: Fraunces;
    font-size: 1.3rem;
    border-spacing: 5px;
}
.subheading p{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-family: Montserrat;
    font-size: .85em;
    
}

#topmost-text{
    font-family: Montserrat;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 200;
}
img{
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prices{
    display: block;
    padding: 1.25em;                      
    word-spacing: .625em;
}
.prices #new-price{
    color: green;
    font-family: Fraunces;
    font-size: 1.35rem;
}
.prices #old-price{
    font-family: Montserrat;
}
.btn{
    width: 100%;
    display: flex;
    background-color: rgb(72, 128, 72);
    padding: 1em  1.1em;
    border-radius: 10px;
    transition: background 0.5s;
    justify-content: center;
    color: white;
    
}

.btn img{
    width: 1.3em;
    margin-right: 1em;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(21, 102, 21);

}
.attribution{
    text-align: center;
    font-size: .8rem;
    margin-top: .5em;
}

@media only screen and (max-width: 500px) {
.perfume-root{
display: block;
width: 90%
}


}
